@( title: String,id: Long, datas: List [ AllTask ] , TaskForm: Form [ Task ] , ChangeForm: Form [ AllTask ] )

@main( "Welcome to Play" ){
  <h1> @title </h1>
  @helper.form( action = routes.TaskController.createTask ) {
    <div class = "form-group">
     <label>年</label>
     <select class = "form-control"  name = "year" size = "1">
      <option value = "2014年">2014年</option>
      <option value = "2015年">2015年</option>
      <option value = "2016年">2016年</option>
     </select>
    </div>

    <div class = "form-group">
      <label>月</label>
      <select class = "form-control" name = "month" size = "1">
        @for(i <- 1 to 12 ) {
          <option value = "@i 月">@i 月</option>
        }
      </select>
    </div>

    <div class = "form-group">
      <label>日にち</label>
      <select class = "form-control" name = "date" size = "1">
       @for(i <- 1 to 31 ) {
         <option value = "@i 日">@i 日</option>
       }
      </select>
    </div>

    <div class = "form-group">
      <label>時間</label>
      <select class = "form-control" name = "hour" size = "1">
        @for(i <- 0 to 23 ) {
          <option value = "@i 時">@i 時</option>
        }
      </select>
    </div>

    <div class = "form-group">
      <select class = "form-control" name = "minute" size = "1">
        @for(i <- 0 to 50 if i % 10 == 0 ) {
          <option value = "@i 分">@i 分</option>
        }
      </select>
    </div>

    <div class = "form-group">
      <label>タスク</label>
      <input class = "form-control" type = "text" name = "work">
    </div>

    <input type = "hidden" value = "@id" name = "id">
   
    <button type = "submit" class = "btn btn-primary">タスクの作成</button>
  }
  <hr>
    @if( datas != null ) {
     <p>タスクリスト</p>
     <ul>
     @datas.map { data =>
       <li>
       @helper.form( routes.TaskController.upData( data.id ) ) {
         <input type="text" value="@data.date" name="date">
         <input type="text" value="@data.time" name="time">
         <input type="text" value="@data.work" name="work">
         <input type="hidden" value="@id" name="id">
         <button type = "submit" class = "btn btn-primary">タスクの変更</button>
       }
       @helper.form( routes.TaskController.deleteTask( data.id ) ) {
         <button type = "submit" class = "btn btn-danger">タスクの削除</button>
       }
       </li>
     }
    </ul>
    }

  <a href="/logout">ログアウト</a>
}
